---
import SideForm from "./SideForm.astro";
---

<!-- faq-area start -->
<div class="ab-tabs pt-110 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
   <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="tab-content mb-30" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home-1" role="tabpanel" aria-labelledby="pills-home-tab-1">
               <div class="faq-content faq-white">
    <div class="accordion" id="accordionExample-1">
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingOne-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                  What do study abroad consultants do?
                </button>
            </p>
            <div id="collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Study abroad consultants help students with their research and apply to colleges in foreign countries. They also guide students about the application process, visa requirements, and more.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingTwo-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                  How can abroad education consultants help me?
                </button>
            </p>
            <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Study abroad consultants can help you choose the proper course and university, prepare your application, write an appealing personal statement, and apply for your student visa. They make the whole process easier and less stressful.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
                  How can I find a reliable foreign education consultants?
                </button>
            </p>
            <div id="collapseThree-1" class="accordion-collapse collapse" aria-labelledby="headingThree-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>You can look for a reliable foreign education consultants by checking their evaluations, asking for references from friends or school counsellors, and making sure they have expertise about the country and course you are interested in.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree1-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1-1" aria-expanded="false" aria-controls="collapseThree1-1">
                  What is overseas education?

                </button>
            </p>
            <div id="collapseThree1-1" class="accordion-collapse collapse" aria-labelledby="headingThree1-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Overseas education is basically a place, which is defined as you are studying outside of your country, this is called overseas education. Overseas education gives you a lot of opportunities through which you can see new cultures, learn new languages ​​and gain a global perspective of education.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree2-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2-1" aria-expanded="false" aria-controls="collapseThree2-1">
                  What services do overseas education consultants provide?
                </button>
            </p>
            <div id="collapseThree2-1" class="accordion-collapse collapse" aria-labelledby="headingThree2-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>So, education consultant prepare you for the right university application, advise you about scholarships and also help you with visa application. Some help you find a home and adjust to a new country.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <SideForm />
    </div>
</div>

  </div>
</div>
<!-- faq-area end -->