---
import SideForm from "./SideForm.astro";
---

<!-- faq-area start -->
<div class="ab-tabs pt-110 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
   <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="tab-content mb-30" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home-1" role="tabpanel" aria-labelledby="pills-home-tab-1">
               <div class="faq-content faq-white">
    <div class="accordion" id="accordionExample-1">
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingOne-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                    What are the qualifying requirements for studying MBBS abroad?
                </button>
            </p>
            <div id="collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Eligibility Criteria to apply for MBBS Abroad for Indian students is minimum 50% in PCB subjects in 10+2 and as well as a NEET passing score.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingTwo-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                    What is the MCI FMGE Test?
                </button>
            </p>
            <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>This is a medical licensing exam of India which is conducted by National Medical Commission for Foreign Medical Graduates who really wants to practice medicine in India.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
                    Is studying MBBS abroad worthwhile?
                </button>
            </p>
            <div id="collapseThree-1" class="accordion-collapse collapse" aria-labelledby="headingThree-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Yes, studying MBBS Abroad is a very good option for Indian students. They can fulfil their dreams. You will get an excellent doctor's degree. Also, you will get international exposure, high quality medical education, extension, clinical experience, affordable fees and much more.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree1-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1-1" aria-expanded="false" aria-controls="collapseThree1-1">
                    Is it advisable to pursue MBBS in India or abroad?
                </button>
            </p>
            <div id="collapseThree1-1" class="accordion-collapse collapse" aria-labelledby="headingThree1-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Firstly, MBBS Abroad has always been a very good option for Indian students but in India there are very limited seats and the level of competition is very high. So the medical universities abroad provide opportunities to every Indian student so that they can get the best medical education that too at a minimum cost.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree2-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2-1" aria-expanded="false" aria-controls="collapseThree2-1">
                    Why pursue MBBS abroad?
                </button>
            </p>
            <div id="collapseThree2-1" class="accordion-collapse collapse" aria-labelledby="headingThree2-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>There are many reasons to study MBBS Abroad, you get excellent quality medical education, practical exposure, remarkable clinical experience, highly qualified medical faculty, etc. Also, you get English medium MBBS course, comfortable accommodation, food facilities, affordable fees and much more.</p>
                </div>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <SideForm />
    </div>
</div>

  </div>
</div>
<!-- faq-area end -->