<!-- Testimonail start -->
<section class="testimonail-area  pt-110 pb-190">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50">
          <span class="subtitle"> Testimonials </span>
          <h2 class="section-title">
            What Clients Say About Us and <br /> Our Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="textimonail-active owl-carousel">
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Simran Kaur</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              A One Global Consultants has incredibly remarkable visa application knowledge. They gave me priceless information that made the application process much easier.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-2.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Anil Sharma</p>
              <span>Business Man</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Offered me honest and unbiased career guidance. Their team is incredibly supportive and knowledgeable.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>

        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-3.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Richa Gupta</p>
              <span>Traveller</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              It was the right choice to choose A One Global. They provided me with excellent pre-departure support and assisted me in choosing the appropriate subject and university.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Nitin Verma</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              I successfully enrolled in my dream university. Their team is dedicated and professional.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
               
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-2.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Kavita Patel</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Their extensive network of universities and colleges made it easy for me to find the best fit for my studies abroad.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Siddharth Malhotra</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              The team’s knowledge and experience are unparalleled. They made my dream of studying in Canada come true.
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-3.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Sneha Kapoor</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              A One Global Consultants are very responsive and always available to answer any queries I had during the process
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonail end -->
